.list-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 740px;
    padding: 10px 50px;
    margin: 30px;
    border-radius: 6px;
    background: white;
}

.listProduct-format-main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    padding: 20px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
}

.listProduct-format {
    align-items: center;
    font-weight: 500;
}

.listProduct-product-icon {
    height: 80px;
}

.listProduct-remove-icon {
    margin: auto;
    cursor: pointer;
}

.listProduct-allProducts {
    overflow-y: auto;
    width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #454545;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #454545;
}


@media(max-width : 800px) {
    .list-product {
        box-sizing: border-box;
        width: 95%;
        height: 100%;
        padding: 10px 30px;
        margin: 20px auto;
    }

    .listProduct-format-main {
        font-size: 12px;
        padding: 15px 0px;
        color: #454545;
    }

    .listProduct-product-icon {
        height: 50px;
    }
}